browser/node_modules
browser/dist
browser/build
browser/public
browser/src
browser/test
browser/types
browser/utils
browser/vendor
browser/ui/node_modules
browser/ui/dist
browser/agent/node_modules
browser/agent/dist
browser/agent/build
browser/agent/test
browser/agent/types
browser/agent/utils
browser/agent/vendor
browser/ui/node_modules
browser/ui/dist
browser/ui/build
browser/ui/public
browser/ui/test
browser/ui/types
browser/ui/utils
browser/ui/vendor
browser/api-gateway/node_modules
browser/api-gateway/dist
browser/api-gateway/build
browser/api-gateway/test
browser/api-gateway/types
browser/api-gateway/utils
browser/api-gateway/vendor
*/**/*.log
*/**/.env
*/**/.DS_Store
.DS_Store